#company{
    width: 100%;
    height: 100%;
    overflow: hidden;

    img{
        width: 100%;
        height: 470px;
        object-fit: cover;
        opacity: 70%;
    }
    .inner{
        width: 1100px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2{
            font: bold 70px/1 "Nanum Myeongjo";
            text-align: center;
            color: #fff;
            text-shadow: 4px 4px 15px #555;
            margin-top: -200px;
            
        }
        p{
            font: 20px/1 "arial";
            color: #eee;
            text-shadow: 4px 4px 10px #333;
            margin-top: 60px;
            margin-left: 220px;
        }
    }
}

// 1
#news{
    width: 100%;
    padding: 200px 0;
    .inner{
        width: 1200px;
        margin: 0 auto;
        position: relative;
        margin-left: 350px;
        h2{
            width: 500px;
            font: bold 50px/1 arial;
            color: #333;
            border-top: 1px solid #000;
        }
        // span{
        //     position: absolute;
        //     top: -30px;
        //     font: bold 15px/1 arial;
        //     color: #aed581;
            
        // }
        p{
            font: normal 25px/1.5 arial;
            margin-top: 30px;
            color: #555;
        }  
    }
    .img{
       img{overflow: hidden;
            position: absolute;
            width: 350px;
            height: 400px;
            object-fit: cover;
            bottom: -80%;
            left: 70%;
            &:nth-of-type(1){
                top: -30%;
                left: 75%;
                opacity: 30%;
            }
        } 
    }
}

//2
#news2{
    width: 100%;
    padding: 100px 0;
    margin-top: 100px;
    background-color: #ddd;
    .boxs{
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        margin-left: 330px;
        article{
            width: 350px;
            height: 350px;
            background-color: #fff;
            float: left;
            margin-left: 50px;
            box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
            border-radius: 5%;
            margin-top: -20px;
            i{
                font-size: 60px;
                color: #004d40;
                margin-left: 40%;
                margin-top: 70px;
                opacity: 80%;
            }
            h2{
                text-align: center;
                margin-top: 60px;
                font: bold 30px/1 arial;
                color: #333;
            }
            p{
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

//3
main{
    width: 100%;
    height: 650px;
    nav{
        width: 100%;
        //height: 60px;
        // background-color: #000;
        display: flex;
        align-items: flex-end;
        ul{
            width: 100%;
            li{
                margin-top: 100px;
                margin-left: 30%;
                width: 100%;
                height: 100%;
                a{
                    display: block;
                    float: left;
                    width: 250px;
                    height: 40px;
                    border: 1px solid #ddd;
                    font: 15px/1 arial;
                    color: #333;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // &:hover{
                    //     background: linear-gradient(#136a8a, #267871);
                    //     opacity: 90%;
                    //     color: #fff;
                    // }
                }
                &.on{
                    a{
                        background: linear-gradient(320deg,#11998e, #38ef7d);
                        color: #fff;
                    }
                }
            }
        }
    }
    .tap{
        width: 750px;
        height: 150px;
        margin-top: 70px;
        //position: relative;
        article{
            width: 100%;
            height: 100%;
            //background-color: #eee;
            margin-top: 10px;
            margin-left: 76%;
            &:nth-of-type(1){
                background-color: #F9F5F5;
            }
            &:nth-of-type(2){
                background-color: #C6F8D8;
            }
            &:nth-of-type(3){
                background-color: #F9F5F5;
            }
            &:nth-of-type(4){
                background-color: #C6F8D8;
            }
        }
        
    }
}


 